:root {
    --primary-text-color: #212121;
    --text-color-light: #757575;
    --accent-color: #2196f3;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --text-color-footer-auth: rgba(255, 255, 255, 0.6);
    --bgc-color-secondary: #f5f4fa;
    --bgc-color: #2f303a;
    --border-color: #eeeeee;
    --bgc-img: rgba(47, 48, 58, 0.4);
    --icon-color: #afb1b8;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--text-color-white);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    width: 1600px;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.list {
    padding-inline: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section:nth-child(2n + 4) {
    background-color: var(--bgc-color-secondary);
}

/* logo */
.header .logo {
    margin-right: 93px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
}

.logo-studio {
    color: var(--text-color-black);
}

.logo-studio-down {
    color: var(--text-color-white);
}
/* /logo */

/* NAVIGATION */
.header {
    padding-top: 29px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}

.header .container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.header .list {
    display: flex;
    align-items: center;
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

/* .site-nav .item:not(:last-child),
.auth-nav .item:not(:last-child) {
    margin-right: 50px;
} */

.site-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .item + .item {
    margin-left: 30px;
}

.nav-item {
    padding: 32px 0;

    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-item.current {
    color: var(--accent-color);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--accent-color);
}

.contacts-item {
    display: inline-flex;
    align-items: center;
    background-size: contain;
    padding: 32px 0;
    color: var(--text-color-light);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-icon {
    margin-right: 10px;
    fill: var(--text-color-light);
    background-size: contain;
}

.contacts-item:hover,
.contacts-item:focus {
    color: var(--accent-color);
}

.contacts-item:hover .contact-icon,
.contacts-item:focus .contact-icon {
    fill: var(--accent-color);
}

/* /NAVIGATION */

/* HERO */
.main-section {
    max-width: 1600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/img-main/bg-hero.jpg);
    background-color: var(--bgc-color);
    background-repeat: no-repeat;
}

.main-section .container {
    padding: 200px 0;
    text-align: center;
}

.main-title {
    color: var(--text-color-white);

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.box-main-title {
    width: 696px;
    margin: 0 auto 30px auto;
}

.btn {
    cursor: pointer;
    border-radius: 4px;
    border: 3px solid transparent;
}

.btn-primary {
    padding: 10px 32px;

    color: var(--text-color-white);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.btn-secondary {
    padding: 6px 22px;

    color: var(--primary-text-color);
    background-color: var(--bgc-color-secondary);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--text-color-white);
    background-color: var(--accent-color);
}
/* /HERO */

/* FEATURES */
.feature-list {
    display: flex;
}

.feature-list .item {
    width: 270px;
}

.feature-list .item + .item {
    margin-left: 30px;
    display: block;
}

.section.no-padding {
    padding-bottom: 0;
}

.features-title {
    margin-bottom: 10px;

    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    color: var(--text-color-light);
    line-height: 1.71;
}

.feature-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--bgc-color-secondary);
}

/* .antenna::before {
    content: '';
    background-image: url(../images/icon/antenna.svg);
}

.clock::before {
    content: '';
    background-image: url(../images/icon/clock.svg);
}

.diagram::before {
    content: '';
    background-image: url(../images/icon/diagram.svg);
}

.astronaut::before {
    content: '';
    background-image: url(../images/icon/astronaut.svg);
}

.features-title::before {
    content: '';

    background-repeat: no-repeat;
    background-position: center;

    margin-bottom: 30px;
    display: block;
    width: 270px;
    height: 120px;
    background-color: var(--bgc-color-secondary);
} */
/* /FEATURES */

/* ABOUT */
.about-list {
    display: flex;
    justify-content: space-between;
}

.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.about-img {
    display: block;
}
/* /ABOUT */

/* TEAM */
.team-list .item {
    display: block;
    background-color: var(--text-color-white);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-dscr {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 270px;
}

.team-card-title {
    margin-bottom: 10px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-card-text {
    color: var(--text-color-light);

    font-size: 16px;
    line-height: 1.18;

    margin-bottom: 16px;
}

.team-card-img {
    display: block;
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
}

.social-link:hover {
    background-color: var(--accent-color);
}

.social-link:hover .social-icon {
    fill: var(--text-color-white);
}

.social-icon {
    fill: var(--icon-color);
}

/* .social-item:not(:last-child) {
    margin-right: 10px;
} */

/* /TEAM */

/* CLIENTS */
.clients-list {
    display: inline-flex;
    padding: 0 215px;
}
.client-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
}
.clients-list li + li {
    margin-left: 30px;
}

.client-icon {
    fill: #afb1b8;
}

.client-box:hover {
    border: 1px solid var(--accent-color);
}
.client-box:hover .client-icon {
    fill: var(--accent-color);
}

/* /CLIENTS */

/* FOOTER */
.footer {
    background-color: var(--bgc-color);
}

.footer-box {
    display: flex;
    justify-content: flex-start;
}
.address {
    margin-top: 20px;

    font-style: normal;
    line-height: 1.71;
    color: var(--text-color-white);
}

.address-item {
    display: block;
    /* margin-top: 9px; */
    text-decoration: none;
    color: var(--text-color-footer-auth);
}

.address .item {
    margin-top: 9px;
}

.address-item:hover,
.address-item:focus {
    color: var(--accent-color);
}

.social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    color: var(--text-color-white);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social-link-footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-list-footer .social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link-footer:hover {
    fill: var(--text-color-white);
}

.social-icon-footer {
    fill: var(--text-color-white);
}

.social-footer {
    margin-left: 70px;
    padding-top: 75px;
    padding-bottom: 97px;
    align-items: flex-start;
}

.auth-footer {
    padding: 60px 0;
}

.social-list-footer {
    display: flex;
}

/* FOOTER */

/* PAGE PORTFOLIO */

/* FILTERS */
.container .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters .item + .item {
    margin-left: 8px;
}

.btn-secondary {
    color: var(--primary-text-color);
    background-color: var(--bgc-color-secondary);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    padding: 6px 22px;
    border-radius: 4px;
    border: none;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--text-color-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* /FILTERS */

/* PROJECTS */
.projects {
    display: flex;
    flex-wrap: wrap;
}

.prodject-title {
    margin-bottom: 4px;

    color: var(--primary-text-color);
    font-weight: 700;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.prodject-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color-light);
}

.prodject-img {
    display: block;
}

.projects .item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}

.projects .item:nth-child(3n) {
    margin-right: 0;
}

.projects .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.projects .item:hover,
.projects .item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.prodject-dscr {
    border: 1px solid var(--border-color);
    border-top: none;
    padding: 20px 24px;
}

/* .projects .item {
    margin-bottom: 30px;
} */

/* /PROJECTS */
/* /PORTFOLIO */ ;
